#####################################
## Ignore everything (but folders) ##
#####################################

*
!*/
*.*


############################
## But not these files... ##
############################

!*.sh
!*.c
!*.h
!*.cpp
!*.hpp
!*.asm
!*.ld
!*.py
!*.html
!*.css
!*.js
!*.ejs
!*.json
!*.yml
!*.sql
!*.svg
!*.md
!*.env
!*.conf
!*.cfg
!*.ttf
!.dockerignore
!.gitignore
!.gitmodules
!Dockerfile
!Makefile
!password


################
## Exceptions ##
################

build
*.tmp.*
tmp-*
*subject.pdf
.vscode
__pycache__
venv
secret*
node_modules
package-lock.json
Norm.md
!Whirlpool.pdf
